body {
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.board {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  height: 50%;
  width: 96%;
  border: 2px solid black;
  margin: 1rem;
}

.box {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  border: 2px solid black;
  height: 150px;
  width: 150px;
  background-color: rgb(29, 205, 211);
}

#boxPlayBtn {
  height: 2rem;
}

#boxStopBtn {
  height: 2rem;
}

#changeNote {
  height: 2rem;
}
